@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?owj6wg');
  src:  url('../fonts/icomoon.eot?owj6wg#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?owj6wg') format('truetype'),
    url('../fonts/icomoon.woff?owj6wg') format('woff'),
    url('../fonts/icomoon.svg?owj6wg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
