*{
text-decoration: none !important;
outline: 0 !important;
}
.row {
  margin: 0 !important;
  padding: 0;
}
body {
	-webkit-font-smoothing: antialiased;
  font-family: helvetica;
}
header{
  position: relative;
  z-index: 1;
}
header .bg-gray{
  background: #333;
  height: 55px;
  padding: 10px 20px;
  text-align: right;
  color: #fff;
}
header .bg-gray a{
  color: #fff;
}
header .bg-gray .active{
  color: #1FACEB;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e942";
}
.icon-mail3:before {
  content: "\ea85";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}

.idioma{
  float: right;
  padding: 7px 10px 7px 25px;
}
.social{
  float: right;
}
.social a {
    height: 33px;
    width: 33px;
    background-color: #1FACEB;
    padding: 8px 2px;
    border-radius: 50px;
    margin: 0 7px;
    display: inline-block;
    text-align: center;
    transition: all 0.3s ease;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
}
.social a:hover{
  background-color: #fff;
  color: #1FACEB;
  transition: all 0.3s ease;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
}
.num-email {
    float: right;
    padding-top: 7px;
    padding-right: 10px;
}
.num-email p{
float: left;
padding: 0 20px;
font-size: 14px;
}
.num-email p span {
    margin: 0 10px 0 0;
    font-size: 18px;
    top: 3px;
    position: relative;
}
.separator{
  height: 20px;
  width: 1px;
  background: #fff;
  float: left;
}
.menu-logo {
background: #fff;
   height: 95px;
    position: relative;
    -webkit-box-shadow: 0px 3px 9px -1px rgba(0,0,0,0.22);
    -moz-box-shadow: 0px 3px 9px -1px rgba(0,0,0,0.22);
    box-shadow: 0px 3px 9px -1px rgba(0,0,0,0.22);
}
.logo {
    height: 130px;
    position: relative;
    top: 25px;
    left: 9%;
}
.logo-drive {
    background-image: url(../images/bg-service.png);
    height: 180px;
    width: 180px;
    background-size: 100%;
    position: absolute;
    top: -25px;
    background-repeat: no-repeat;
    z-index: 1;
    left: 60px;
    float: left;
}
.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
    float: right;
    margin-top: 23px;
    margin-bottom: 0;
   }
   .navbar-default .navbar-nav > li > a {
       color: #333;
       font-weight: 500;
       margin: 0 5px;
       padding: 15px 20px 5px;
       font-family: helvetica;
       transition: all 0.3s ease;
       -webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
       -ms-transition: all 0.3s ease;
   }
.navbar-default .navbar-nav > li > a:hover{
  color: #1FACEB;
  border-bottom: 1px solid #1faceb;
  transition: all 0.3s ease;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #1faceb;
    background-color: transparent;
    border-bottom: 1px solid #1faceb;
}
.slider-home{
  position: relative;
}
.overlay_video {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 100px;
    text-align: center;
    padding-top: 223px;
    /* background: rgba(0, 0, 0, 0.5); */
    z-index: 9;
    top: 0;
}
.overlay_video img{
  opacity: 0.7;
  transition: all 0.3s ease;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
}
.overlay_video img:hover{
  opacity: 1;
  transition: all 0.3s ease;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
}
.carousel-indicators {
    position: absolute;
    bottom: 40px;
    left: 48%;
    z-index: 15;
    background-color: rgba(89, 179, 184, 0.34);
    width: auto;
    padding-left: 0;
    margin-left: -1%;
    text-align: center;
    list-style: none;
    padding: 3px 13px;
    border-radius: 20px;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    border: 2px solid #1faceb;
    margin: 0;
    background-color: #fff;
}
footer{
  background-image: url(../images/bg-footer.jpg);
  background-size: cover;
}
footer .col-md-4{
padding: 45px 30px;
color: #fff;
}
footer .col-md-4:nth-child(1){
  text-align: left;
  padding-top: 90px;
}
footer .col-md-4:nth-child(2){
  text-align: center;
}
footer .col-md-4:nth-child(3) {
    text-align: right;
    padding-top: 90px;
}
footer .social{
  float: none;
}
footer .social a {
    height: 54px;
    width: 54px;
    font-size: 25px;
    color: #fff;
    padding-top: 11px;
}
footer .correo{
  color: #fff;
  margin-top: 40px;
}
footer .correo span{
  position: relative;
  top: 2px;
  margin-right: 8px;
}
footer .correo a{
  color: #fff;
}
.borde-color{
  height:3px;
  background-image: url(../images/border-gradient.png);
}
.location {
    background-image: url(../images/location2.png);
    background-repeat: no-repeat;
    padding-left: 40px;
}
footer .col-md-4:nth-child(3) .location{
  background-position-x: 40%;
}
.phone span{
  font-size: 18px;
  position: relative;
  top: 4px;
  margin-right: 10px;
}
.developement{
  height: 50px;
  padding: 15px 25px;
  background: #333;
  color: #ccc;
}
.developement .col-md-6:nth-child(1){
  text-align: left;
}
.developement .col-md-6:nth-child(2){
  text-align: right;
}
.developement .col-md-6:nth-child(2) a{
  color: #ccc;
  transition: all 0.3s ease;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
}
.developement .col-md-6:nth-child(2) a:hover{
  color: #fff;
  transition: all 0.3s ease;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
}

.sstories {
    padding: 15px;
    text-align: center;
    background-color: #ffca00;
}



.sstories h1{
    font-size: 35px;
    color: #fff;
    font-family: helvetica;
    font-weight: bold;
}

.subrayadosstories {
    border-bottom: 3px solid #59b3b8;
    width: 125px;
    float: none;
    margin: auto;
}

.sstories .col-md-4 {
    width: 33.33333333%;
    height: 350px;
    padding: 20px;
    padding-top: 20px;
}

.sstories .col-md-4 img {
    width: 100%;
    border-radius: 6px;
}

.storiestext {
    position: relative;
    background: rgba(255, 255, 255, 0.7);
    top: -75px;
    height: 75px;
}

.storiestext p {
    margin: 0 0 10px;
    color: #505050;
    padding: 18px;
    font-size: 16px;
}

.sstories .row {
    margin: 0 !important;
    padding: 50px;
}


.carousel-control.right {
    right: 0;
    left: auto;
    background: transparent;
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}


.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    float: right;
    right: 30px;
    top: 190px;
}

.carousel-control.left {
    left:0;
    right: auto;
    background: transparent;
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}


.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    float: left;
    left: 30px;
    top: 190px;
}

.teamclouds {
    background-color: #59b3b8;
    padding: 40px;
    padding-bottom: 0px;
    padding-top: 0;
}

.teambox img {
    width: 90%;
}

.teamicon {
    width: 80px;
    float: none;
    margin: auto;
}

.teamicon img {
    position: relative;
    top: 60px;
    width: 50px;
}

.teamtext {
    position: absolute;
    top: 110px;
    float: left;
    right: 30px;
}

.teamtext h1 {
    font-size: 20px;
    font-family: helvetica;
    font-weight: 600;
    text-align: center;

}

.teamtext p {
    font-size: 15px;
    color: #777;
    padding: 60px;
    padding-top: 0;
    text-align: center;
}

.teamclouds .btn-default {
    color: #fff;
    background-color: #ffca00;
    border-color: transparent;
    width: 110px;
    border-radius: 20px;
    position: relative;
    top: -55px;
    left: 110px;
}

.teamclouds .btn-default:hover {
    color: #ffca00;
    background-color: #fff;
        transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
}

.teamclouds .btn-default a{
    color: #fff;

}

.teamclouds .btn-default:hover a{
    color: #ffca00;
}


.sstories .rayasback img{
    width: 100%;
    height: 500px;
    position: absolute;
    left: 0;
}

.covertestimonials img{
    width: 100%;
}

.testimonialssection {
    height: 411px;
    text-align: center;
}

.testimonialssection h1 {
    font-size: 35px;
    position: relative;
    top: -380px;
    background: transparent;
    font-family: helvetica;
    font-weight: bold;
    color: #fff;
}

.subrayadotestimonials {
    border-bottom: 3px solid #ffca00;
    position: relative;
    top: -387px;
    width: 125px;
    float: none;
    margin: auto;
}

.testimonialcontain {
    position: relative;
    top: -335px;
    background: rgba(23, 23, 23, 0.43);
    padding: 55px;
    width: 650px;
    display: block;
    float: none;
    margin: auto;
}

.testimonialcontain p{
    font-size: 16px;
    font-style: italic;
    color: #fff;
}

.testimonialcontain .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    float: left;
    left: -35px;
    top: 90px;
}

.testimonialcontain .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    float: right;
    left: 110px;
    top: 90px;
}

.news {
    padding: 30px;
    text-align: center;
    height: 850px;
}


.news h1 {
    font-size: 35px;
    font-family: helvetica;
    font-weight: 600;
}


.subrayadonews{
    border-bottom: 3px solid #ffca00;
    width: 100px;
    float: none;
    margin: auto;
}

.noticias .col-md-6 {
    width: 50%;
    top: 50px;
}

.noticiascontain {
    width: 690px;
    height: 480px;
    background: #fff;
    position: relative;
    left: -123px;
    top: 72px;
    text-align: left;
    padding: 45px;
    padding-top: 5px;
-webkit-box-shadow: 0px 0px 12px 2px rgba(184,184,184,1);
-moz-box-shadow: 0px 0px 12px 2px rgba(184,184,184,1);
box-shadow: 0px 0px 12px 2px rgba(184,184,184,1);

}

.noticiascontain h1{
    font-size: 18px;
    font-family: helvetica;
    font-weight: 600;
    position: relative;
    top: 30px;
}

.subrayadotitle {
    border-bottom: 3px solid #ffca00;
    position: relative;
    top: 30px;
    width: 80px;
}

.noticiascontain p{
    position: relative;
    top: 90px;
    color: #8e8e8e;
    font-size: 14px;
}

.noticiascontain a{
    position: relative;
    top: 120px;
    color: #fff;
    background: #ffca00;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    cursor: pointer;
            transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;

}

.noticiascontain a:hover {
  background:#fff;
  color: #ffca00;
              transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;

}



.servicesbanner {
padding: 85px;
padding-bottom: 0;
}

.servicesbanner img{
    width: 97%;
    position: relative;
    margin-top: 35px;
    right: 45px;
}

.servicesbanner .col-md-6 h1 {
    font-size: 35px;
    font-family: helvetica;
    font-weight: 600;
    text-align: right;
}

.subrayadoservices {
    border-bottom: 3px solid #ffca00;
    width: 120px;
    float: right;

}


.servicesbanner .col-md-6 p{
    font-size: 14px;
    font-family: helvetica;
    text-align: right;
    position: relative;
    margin-top: 50px;
    color: #787878;
}

.hwwork {
     background-image: url(../images/servicescoverazul.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 45px;

    text-align: center;
}

.hwwork h1{
  font-size: 35px;
  font-family: helvetica;
  color: #fff;
}

.subrayadowork{

    border-bottom: 3px solid #ffca00;
    width: 120px;
    float: none;
    margin: auto;
}

.hwwork p{
    padding-top: 56px;
    width: 500px;
    float: none;
    margin: auto;
    color: #fff;
}



.overlayparents {
    background-color: #ffca00;
    mix-blend-mode: multiply;
    position: absolute;
    padding: 50px 0px;
    text-align: center;
    width: 100%;
    height: 500px;
}

.parentsrole {
    width: 100%;
    height: 500px;
}

.parentsrole h1 {
    font-size: 35px;
    font-weight: 500;
    font-family: helvetica;
    color: #fff;
    position: relative;
    top: -445px;
    z-index: 1;
    width: 225px;
    float: none;
    margin: auto;
}

.parentsrole p {
    position: relative;
    top: -360px;
    width: 700px;
    float: none;
    margin: auto;
    text-align: center;
    color: #fff;
    z-index: 1;
    border: 3px solid;
    border-style: dashed;
    padding: 50px;
    font-size: 18px;

}

.parentsbackground{
       background-image: url(../images/parentsrole.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 500px;
    text-align: center;
}

.subrayadoparents {
    border-bottom: 3px solid #fff;
    width: 142px;
    float: none;
    margin: auto;
    z-index: 1;
    position: relative;
    top: -440px;
    right: 8px;
}
=======





>>>>>>> 181d241c4b8a097cb6105fd58b7450ca1202eb92



